.userCard {
  width: 35vw;
  background: #5746ea;
  color: #ffffff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  min-width: fit-content;
}

.userImage {
  height: 35vh;
  border: none;
  filter: drop-shadow(
    0px 8.796843528747559px 7.037475109100342px 0px #0000004f
  );
}

.userData {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 2%;
  margin-left: 1rem;
}
.userDetail {
  justify-content: space-between;
  margin-bottom: 1.25rem;
  margin-top: 1rem;
}
.name,
.email {
  margin: 0.2rem 0;
  font-size: 1.15rem;
}

.username {
  font-size: 2rem;
  font-weight: 500;
}
.userCategory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  gap: 0.5rem;
}
.categoryName {
  background: #9f94ff;
  border-radius: 1rem;
  color: #ffffff;
  font-size: 0.75rem;
  padding: 0.5rem;
}
